<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>789119410518-l7qocrtngpanba0mkmfhl3mqsk3ufbhp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.789119410518-l7qocrtngpanba0mkmfhl3mqsk3ufbhp</string>
	<key>API_KEY</key>
	<string>AIzaSyDDHRMCfFfKXIkN3Cfqq1eeD9qqh2v3ohs</string>
	<key>GCM_SENDER_ID</key>
	<string>789119410518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.BoxOffice</string>
	<key>PROJECT_ID</key>
	<string>boxoffice-81d4d</string>
	<key>STORAGE_BUCKET</key>
	<string>boxoffice-81d4d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:789119410518:ios:e4a4b2b53e50a049b576f7</string>
</dict>
</plist>