<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>80144787402-r72r5snmolvl82fdlj3idej4fq5t8iph.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.80144787402-r72r5snmolvl82fdlj3idej4fq5t8iph</string>
	<key>API_KEY</key>
	<string>AIzaSyCxqHw37v96RCiRXIoOZRSiomd--83729U</string>
	<key>GCM_SENDER_ID</key>
	<string>80144787402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.BoxOffice</string>
	<key>PROJECT_ID</key>
	<string>boxoffice-365d1</string>
	<key>STORAGE_BUCKET</key>
	<string>boxoffice-365d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:80144787402:ios:9babf1a7647e6fecfb1133</string>
</dict>
</plist>