<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599408176229-rnc1qlskda1crlc8qcr1r5b64kvr6bor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599408176229-rnc1qlskda1crlc8qcr1r5b64kvr6bor</string>
	<key>API_KEY</key>
	<string>AIzaSyBRU5iMKwrkhyxSYpk6AnPq5GMYyRpkmR0</string>
	<key>GCM_SENDER_ID</key>
	<string>599408176229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.BoxOffice</string>
	<key>PROJECT_ID</key>
	<string>boxoffice-18825</string>
	<key>STORAGE_BUCKET</key>
	<string>boxoffice-18825.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599408176229:ios:7ce7ce42fe62a81c742a8c</string>
</dict>
</plist>